<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guangfuxiong.dao.RegisterDao">
    <insert id="addUser" parameterType="com.guangfuxiong.entity.UserInfo">
        insert into user values (#{username},#{password},#{nickname},#{email})
    </insert>
    <select id="checkName" parameterType="String" resultType="com.guangfuxiong.entity.UserInfo">
        select * from USER where username = #{userName,jdbcType=VARCHAR}
    </select>
    <select id="loginInto" parameterType="com.guangfuxiong.entity.UserInfo" resultType="Integer">
        select count(*) from user where username = #{username} and password = #{password}
    </select>
</mapper>